{% extends "templates/web.html" %}
{% block title %}Abstimmungen{% endblock %}
{% block page_content %}
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }};">
	<div class="row">
		<div class="col-xs-12" style="font-size: 30px; color:white;">
			<center>Abstimmungen</center>
		</div>
	</div>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#aktuell">Aktuell</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#beendet">Beendet</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane container active" id="aktuell" style="padding-left: 0px; padding-right: 0px;">
		{% for abstimmung in offen %}
		<div class="container-fluid" style="background-color: {{ sekundaer_bg }}; border: 5px solid #bbbbbb; border-radius: 25px; padding: 3px; margin-bottom: 5px; color: white; max-width: 95%; margin-top: 5px;">
			<div class="row" style="max-width: 100%;">
				<div class="col-xs-9" style="padding-left: 25px;">
					<strong>{{ abstimmung.betreff }}</strong><br>
					{{ abstimmung.info }}<br><br>
				</div>
				<div class="col-xs-2" style="padding-left: 40px;">
					{{ auswahl[abstimmung.name]["total"] }}
				</div>
				{% for frage in auswahl[abstimmung.name]["fragen"] %}
				<div class="col-xs-9" style="padding-left: 25px; margin-bottom: 3px;">
					<div style="width: 90%; {% if auswahl[abstimmung.name]['antwort'] == frage.name %}background-color: {{ primar_bg }};{% else %}border: 1px solid white;{% endif %} border-radius: 25px; padding-left: 10px; cursor: pointer;" onclick="abstimmen('{{ abstimmung.name }}', '{{ frage.name }}');">
						{{ frage.antwort }}
					</div>
				</div>
				<div class="col-xs-2" style="padding-left: 40px;">
					{{ frage.anzahl }}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		{% if not offen %}
		<center style="color:white;">Es sind keine offenen Abstimmungen vorhanden.</center>
		{% endif %}
	</div>
	<div class="tab-pane container fade" id="beendet" style="padding-left: 0px; padding-right: 0px;">
		{% for abstimmung in beendet %}
		<div class="container-fluid" style="background-color: {{ sekundaer_bg }}; border: 5px solid #bbbbbb; border-radius: 25px; padding: 3px; margin-bottom: 5px; color: white; max-width: 95%; margin-top: 5px;">
			<div class="row" style="max-width: 100%;">
				<div class="col-xs-9" style="padding-left: 25px;">
					<strong>{{ abstimmung.betreff }}</strong><br>
					{{ abstimmung.info }}<br><br>
				</div>
				<div class="col-xs-2" style="padding-left: 40px;">
					{{ auswahl[abstimmung.name]["total"] }}
				</div>
				{% for frage in auswahl[abstimmung.name]["fragen"] %}
				<div class="col-xs-9" style="padding-left: 25px; margin-bottom: 3px;">
					<div style="width: 90%; border: 1px solid #FFD700; border-radius: 25px; padding-left: 10px;">
						{{ frage.antwort }}
					</div>
				</div>
				<div class="col-xs-2" style="padding-left: 40px;">
					{{ frage.anzahl }}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		{% if not beendet %}
		<center style="color:white;">Es sind keine beendete Abstimmungen vorhanden.</center>
		{% endif %}
	</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: {{ primar_bg }}">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/me';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}