{% extends "templates/web.html" %}
{% block title %}Tabelle{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: #47aff8; padding-left: 0; padding-right: 0;" id="content">
<table class="table table-striped" style="color: white; text-align: center; font-size: 12px;" id="tabelle">
	<thead>
		<tr>
			<th>Team</th>
			<th>Spiele</th>
			<th>S / U / N</th>
			<th>TV</th>
			<th>TD</th>
			<th>Punkte</th>
		</tr>
	</thead>
	<tbody>
	{% for ranking in tabelle["data"]["regions"][0]["rows"] %}
		<tr>
			<td>{{ ranking["data"]["rank"] }} <img src="{{ ranking["cells"][1]["image"]["url"] }}" width="25"></td>
			<td>{{ ranking["cells"][3]["text"][0] }}</td>
			<td>{{ ranking["cells"][4]["text"][0] }} / {{ ranking["cells"][5]["text"][0] }} / {{ ranking["cells"][6]["text"][0] }}</td>
			<td>{{ ranking["cells"][7]["text"][0] }}</td>
			<td>{{ ranking["cells"][8]["text"][0] }}</td>
			<td>{{ ranking["cells"][9]["text"][0] }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: #47aff8">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/submenu_swissunihockey';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}