{% extends "templates/web.html" %}
{% block title %}Hauptmenü{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: #47aff8" id="content">
	<img src="assets/doppelpass/images/doppelpass_logo_klein.png" class="mx-auto d-block img-fluid" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/submenu_training';">
			<center>
				<i class="fas fa-running" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Training</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/submenu_spielbetrieb';">
			<center>
				<i class="fas fa-trophy" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Spielbetrieb</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/hauptmenu';">
			<center>
				<i class="far fa-chart-bar" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Statistik</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/hauptmenu';">
			<center>
				<i class="fas fa-dollar-sign" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Budget</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/submenu_konfiguration';">
			<center>
				<i class="fas fa-cogs" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Konfiguration</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer; color: white;" onclick="window.location='/setup?cmd=web_logout';">
			<center>
				<i class="fas fa-key" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Logout</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script>
	window.addEventListener('orientationchange', checkOrientation, false);
	$( document ).ready(function() {
		checkOrientation();
	});
	function checkOrientation() { 
		opt1 = $('body').width();
		opt2 = $(window).height();
		if (opt1 < 1000) {
			if (opt1 < opt2) {
				$('#content').show();
				$('#myModal').hide();
			} else {
				$('#content').hide();
				$('#myModal').show();
			}
		}
	} 
	</script>
{% endblock %}