{% extends "templates/web.html" %}
{% block title %}Kasse{% endblock %}
{% block page_content %}
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }};">
	<div class="row">
		<div class="col-xs-12" style="font-size: 30px; color:white;">
			<center>Kasse</center>
		</div>
	</div>
</div>
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }}; margin-bottom: 65px;">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10" style="background-color: {{ sekundaer_bg }}; border: 5px solid #bbbbbb; border-radius: 25px; padding: 3px; margin-bottom: 5px;">
			<div class="row" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
				<div class="col-xs-12">
					<center>Saldo<br><div style="color: #FFD700;">{{ "{:,.2f}".format(saldo).replace(",", "'") }}</div></center>
				</div>
				<div class="col-xs-12">
					<div id="chart"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-12" style="font-size: 30px; color:white;">
			<center>Offene Beträge</center>
		</div>
		{% for busse in bussen %}
		<div class="col-xs-1"></div>
		<div class="col-xs-6" style="color:white;">
			{{ busse.fullname }}
		</div>
		<div class="col-xs-3" style="color:white;">
			{{ "{:,.2f}".format(busse.betrag).replace(",", "'") }}
		</div>
		<div class="col-xs-2"></div>
		{% endfor %}
	</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: {{ primar_bg }}">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/me';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}
{% block base_scripts %}
<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
{% endblock %}
{% block script %}
	<script>
		const data = {
			labels: ["Bezahlt", "Offen"
			],
			datasets: [
				{
					values: [{{ bezahlt }}, {{ offen }}]
				}
			]
		}

		const chart = new frappe.Chart("#chart", {
			data: data,
			type: 'pie',
			height: 200,
			colors: ['#70db70', 'red']
		})
	</script>
{% endblock %}