{% extends "templates/web.html" %}
{% block title %}Training{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: #47aff8">
	<div class="row">
		<div class="col-xs-12">
			<center><p style="font-size: 25px;">Heute</p></center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-10" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px;">
			<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Training</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: #00ff00;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-12">
			<center><p style="font-size: 25px;">Demnächst</p></center>
		</div>
	</div>
</div>
<div class="container-fluid" style="color: white; background-color: #47aff8; margin-top: 200px; margin-bottom: 65px;">
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; margin: 3px 0 3px 0;">
		<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Training</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: red;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: #47aff8; border: 2px solid #DAA520; border-radius: 25px; margin: 3px 0 3px 0;">
		<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Match</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: #00ff00;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; margin: 3px 0 3px 0;">
		<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Training</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: #00ff00;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; margin: 3px 0 3px 0;">
		<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Training</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: #00ff00;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: #47aff8; border: 2px solid #DAA520; border-radius: 25px; margin: 3px 0 3px 0;">
		<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Match</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: red;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; margin: 3px 0 3px 0;">
		<div class="row">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> Mittwoch 22 April um 20:50
				</div>
				<div class="col-xs-2">
					17
				</div>
				<div class="col-xs-8">
					<strong>Training</strong><br><i class="fas fa-map-marker-alt"></i> Rennweg, Winterthur
				</div>
				<div class="col-xs-2" style="font-size: 30px; color: #00ff00;">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="col-xs-2" style="font-size: 30px;">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
	</div>
	<div class="col-xs-1"></div>
</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: #47aff8">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/submenu_training';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}