{% extends "templates/web.html" %}
{% block title %}Training{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: {{ primar_bg }};">
	<div class="row">
		{% if event %}
		<div class="col-xs-12">
			<center><p style="font-size: 25px;">Heute</p></center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-10" style="background-color: {{ sekundaer_bg }}; border: 5px solid {% if event.typ == 'Match' %}#FFD700{% else %}#bbbbbb{% endif %}; border-radius: 25px; padding: 3px;">
			<div class="row" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
				<div class="col-xs-10">
					<i class="far fa-calendar-alt"></i> {{ _(frappe.utils.get_datetime(event.start).strftime('%A')) }} {{ frappe.utils.get_datetime(event.start).strftime('%d') }} {{ _(frappe.utils.get_datetime(event.start).strftime('%B')) }} um {{ frappe.utils.get_datetime(event.start).strftime('%H:%M') }}
				</div>
				<div class="col-xs-2" style="text-align: right; color: #FFD700;">
					{{ anzahl }}
				</div>
				<div class="col-xs-8" style="word-wrap: break-word;">
					<strong>{{ event.typ }}</strong><br>
					{% if event.typ == 'Match' %}{{ event.gegner }}<br>{% endif %}
					{% if event.details %}{{ event.details }}<br>{% endif %}
					<i class="fas fa-map-marker-alt"></i> {{ event.ort }}
				</div>
				<div class="col-xs-3">
					<div class="row" style="font-size: 30px;">
						<div class="col-xs-6" {% if anwesend %}style="color: green;"{% else %}style="cursor: pointer;" onclick="anmelden('{{ event.name }}');"{% endif %}>
							<i class="far fa-check-circle"></i>
						</div>
						<div class="col-xs-6" {% if not anwesend %}style="color: red;"{% else %}style="cursor: pointer;" onclick="abmelden('{{ anwesend }}');"{% endif %}>
							<i class="far fa-times-circle"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
		{% endif %}
		<div class="col-xs-12">
			<center><p style="font-size: 25px;">Demnächst</p></center>
		</div>
	</div>
</div>
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }}; {% if event %}margin-top: 205px; {% else %}margin-top: 55px; {% endif %}margin-bottom: 65px;">
{% if event %}
<div class="row">
<div class="col-xs-1"></div>
<div class="col-xs-10">
	<div class="col-xs-10"></div>
	<div class="col-xs-2"></div>
	<div class="col-xs-8" style="word-wrap: break-word;">
		{% if event.details %}{{ event.details }}<br>{% endif %}{% if event.typ == 'Match' %}<br>{% endif %}
	</div>
	<div class="col-xs-3"></div>
</div>
<div class="col-xs-1"></div>
</div>
{% endif %}
<div class="row">
	{% for event in events_in_zukunft %}
	{% set vars = {'details_zu_events_': event.name} %}
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: {{ sekundaer_bg }}; border: 5px solid {% if event.typ == 'Match' %}#FFD700{% else %}#bbbbbb{% endif %}; border-radius: 25px; padding: 3px; margin-bottom: 5px;">
		<div class="row" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
			<div class="col-xs-10">
				<i class="far fa-calendar-alt"></i> {{ _(frappe.utils.get_datetime(event.start).strftime('%A')) }} {{ frappe.utils.get_datetime(event.start).strftime('%d') }} {{ _(frappe.utils.get_datetime(event.start).strftime('%B')) }} um {{ frappe.utils.get_datetime(event.start).strftime('%H:%M') }}
			</div>
			<div class="col-xs-2" style="text-align: right; color: #FFD700;">
				{{ details_zu_events[vars.details_zu_events_].anzahl }}
			</div>
			<div class="col-xs-8" style="word-wrap: break-word;">
				<strong>{% if event.typ == 'Match' %}{{ event.gegner }}{% else %}{{ event.typ }}{% endif %}</strong><br>
				{% if event.details %}{{ event.details }}<br>{% endif %}
				<i class="fas fa-map-marker-alt"></i> {{ event.ort }}
			</div>
			<div class="col-xs-3">
				<div class="row" style="font-size: 30px;">
					<div class="col-xs-6" {% if details_zu_events[vars.details_zu_events_].anwesend %}style="color: green;"{% else %}style="cursor: pointer;" onclick="anmelden('{{ event.name }}');"{% endif %}>
						<i class="far fa-check-circle"></i>
					</div>
					<div class="col-xs-6" {% if not details_zu_events[vars.details_zu_events_].anwesend %}style="color: red;"{% else %}style="cursor: pointer;" onclick="abmelden('{{ details_zu_events[vars.details_zu_events_].anwesend }}');"{% endif %}>
						<i class="far fa-times-circle"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-1"></div>
	{% endfor %}
</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: {{ primar_bg }}">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/me';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}