{% extends "templates/web.html" %}
{% block title %}Profil{% endblock %}
{% block page_content %}
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }}; margin-bottom: 70px;">
	<div class="row">
		<div class="col-xs-12" style="font-size: 30px; color:white;">
			<center>Profil</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			{% if user.bild %}
			<img src="{{ user.bild }}" class="rounded">
			{% else %}
			<img src="assets/doppelpass/images/user.png" class="rounded">
			{% endif %}
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-2"></div>
		<div class="col-xs-8" style="font-size: 30px; color:white;">
			<center>
				{{ user.fullname }}<br>
				{{ user.nummer }}<br>
				{{ user.position }}<br>
				<p style="font-size: small;">
					{% if user.geburtsdatum %}{{ user.geburtsdatum }}{% else %}Kein Geburtsdatum{% endif %}<br>
					{% if user.strasse %}{{ user.strasse }}{% else %}Keine Strasse{% endif %}<br>
					{% if user.plz > 0 %}{{ user.plz }} {% endif %}{% if user.ort %}{{ user.ort }}{% else %}Kein Ort{% endif %}<br>
					{% if user.telefon %}{{ user.telefon }}{% else %}Keine Telefon-Nummer{% endif %}
				</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-2"></div>
		<div class="col-xs-8" style="color:white;">
			<center>
				<form>
					<label for="pimebackgroundcolor">Wähle Deine primäre Hintergrundfarbe:</label>
					<input type="color" id="pimebackgroundcolor" name="pimebackgroundcolor" value="{{ primar_bg }}" onchange="primebackground_change();">
				</form>
				<form>
					<label for="secbackgroundcolor">Wähle Deine sekundäre Hintergrundfarbe:</label>
					<input type="color" id="secbackgroundcolor" name="secbackgroundcolor" value="{{ sekundaer_bg }}" onchange="secbackground_change();">
				</form>
				<center>
					<button class="btn" style="color: white;" onclick="reset_colors();">
						<center>
							Farben zurücksetzen
						</center>
					</button>
				</center><br><br>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-2"></div>
		<div class="col-xs-8" style="font-size: 30px; color:white;">
			<center>
				<button class="btn" style="color: white;" onclick="window.location='https://github.com/joelios/doppelpass/issues/new';">
					<center>
						<i class="fab fa-github" style="font-size: 2rem;"></i><br>
						Report Issue
					</center>
				</button>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-2"></div>
		<div class="col-xs-8" style="font-size: 30px; color:white;">
			<center>
				<button class="btn" style="color: white;" onclick="window.location='/setup?cmd=web_logout';">
					<center>
						<i class="fas fa-key" style="font-size: 2rem;"></i><br>
						Logout
					</center>
				</button>
			</center>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: {{ primar_bg }}">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/me';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}