{% extends "templates/web.html" %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: #47aff8">
<center>
	<img src="assets/doppelpass/images/teamplaner_transparent.png" width="300" style="margin-top: 5vh; margin-bottom: 20vh;">
	<p><a href="/login#login"><button type="button" class="btn btn-secondary" style="background-color: #47aff8; border: 1px solid white; color: white; width: 120px;">Login</button></a></p>
	<p><a href="/login#signup"><button type="button" class="btn btn-secondary" style="background-color: #47aff8; border: 1px solid white; color: white; width: 120px;">Sign Up</button></a></p>
</center>
</div>
{% endblock %}
