{% extends "templates/web.html" %}
{% block title %}Statistik{% endblock %}
{% block page_content %}
<div class="container-fluid" style="color: white; background-color: #47aff8;">
	<div class="row">
		<div class="col-xs-12" style="color:white;">
			<center>Diese Seite ist in Erarbeitung</center>
		</div>
	</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: #47aff8">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/me';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}