{% extends "templates/web.html" %}
{% block title %}Training{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: #47aff8">
	<div class="row">
		<div class="col-xs-12">
			<center><p style="font-size: 50px;">Training</p></center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0;">
			<center>
				<i class="fas fa-users" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Spielerbereich</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/submenu_training_konfiguration';">
			<center>
				<i class="fas fa-cogs" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Konfiguration</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4"></div>
		<div class="col-xs-4" style="background-color: #47aff8; border: 1px solid white; border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/hauptmenu';">
			<center>
				<i class="fas fa-arrow-left" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Zurück</p>
			</center>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>
{% endblock %}