{% extends "templates/web.html" %}
{% block title %}Swissunihockey{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top bg-dark" style="color: white;">
	<div class="row">
		<div class="col-xs-12">
			<center><p style="font-size: 50px;">Swissunihockey</p></center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/swissunihockey_tabelle';">
			<center>
				<i class="fas fa-table" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Tabellen</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/swissunihockey_resultate';">
			<center>
				<i class="fas fa-trophy" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Resultate</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4"></div>
		<div class="col-xs-4 bg-info" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/submenu_spielbetrieb';">
			<center>
				<i class="fas fa-arrow-left" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Zurück</p>
			</center>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>
{% endblock %}