{% extends "templates/web.html" %}
{% block title %}Konfiguration{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top bg-dark" style="color: white;" id="content">
	<div class="row">
		<div class="col-xs-12">
			<center><p style="font-size: 50px;">Konfiguration</p></center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0;">
			<center>
				<i class="fas fa-sitemap" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Verein</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0;">
			<center>
				<i class="fas fa-users" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Teams</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0;">
			<center>
				<i class="fas fa-user-friends" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Spieler</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0;">
			<center>
				<i class="fas fa-users-cog" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Staff</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4"></div>
		<div class="col-xs-4 bg-info" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/hauptmenu';">
			<center>
				<i class="fas fa-arrow-left" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Zurück</p>
			</center>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script>
	window.addEventListener('orientationchange', checkOrientation, false);
	$( document ).ready(function() {
		checkOrientation();
	});
	function checkOrientation() { 
		opt1 = $('body').width();
		opt2 = $(window).height();
		if (opt1 < opt2) {
			$('#content').show();
			$('#myModal').hide();
		} else {
			$('#content').hide();
			$('#myModal').show();
		}
	} 
	</script>
{% endblock %}