{% extends "templates/web.html" %}
{% block title %}Resultate{% endblock %}
{% block page_content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tabelle">Tabelle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#resultate">Resultate</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane container active" id="tabelle" style="padding-left: 0px; padding-right: 0px;">
		<table class="table table-striped" style="color: white; text-align: center; font-size: 12px;" id="tabelle">
			<thead>
				<tr>
					<th>Team</th>
					<th>Spiele</th>
					<th>S / U / N</th>
					<th>TV</th>
					<th>TD</th>
					<th>Punkte</th>
				</tr>
			</thead>
			<tbody>
			{% for ranking in tabelle["data"]["regions"][0]["rows"] %}
				<tr>
					<td>{{ ranking["data"]["rank"] }} <img src="{{ ranking["cells"][1]["image"]["url"] }}" width="25"></td>
					<td>{{ ranking["cells"][3]["text"][0] }}</td>
					<td>{{ ranking["cells"][4]["text"][0] }} / {{ ranking["cells"][5]["text"][0] }} / {{ ranking["cells"][6]["text"][0] }}</td>
					<td>{{ ranking["cells"][7]["text"][0] }}</td>
					<td>{{ ranking["cells"][8]["text"][0] }}</td>
					<td>{{ ranking["cells"][9]["text"][0] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane container fade" id="resultate" style="padding-left: 0px; padding-right: 0px;">
		<table class="table table-striped" style="color: white; text-align: center; font-size: 12px;" id="tabelle">
			<thead>
				<tr>
					<th>Datum</th>
					<th>Heim</th>
					<th>Gast</th>
					<th>Result.</th>
				</tr>
			</thead>
			<tbody>
			{% for ranking in resultate["data"]["regions"][0]["rows"] %}
				<tr>
					<td>{{ ranking["cells"][0]["text"][0] }}<br>{{ ranking["cells"][0]["text"][1] }}</td>
					<td>{{ ranking["cells"][2]["text"][0] }}</td>
					<td>{{ ranking["cells"][3]["text"][0] }}</td>
					<td>{{ ranking["cells"][4]["text"][0] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>  
	</div>
	<div class="tab-pane container fade" id="menu2">...</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: #47aff8">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/hauptmenu';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}