{% extends "templates/web.html" %}
{% block title %}Team{% endblock %}
{% block page_content %}
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }};">
	<div class="row">
		<div class="col-xs-12" style="font-size: 30px; color:white;">
			<center>Team</center>
		</div>
	</div>
</div>
<div class="container-fluid" style="color: white; background-color: {{ primar_bg }}; margin-bottom: 65px;">
<div class="row">
	{% for user in users %}
	<div class="col-xs-1"></div>
	<div class="col-xs-10" style="background-color: {{ sekundaer_bg }}; border: 5px solid #bbbbbb; border-radius: 25px; padding: 3px; margin-bottom: 5px;">
		<div class="row" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
			<div class="col-xs-8">
				<strong>{{ user.fullname }}</strong><br>
				{{ user.nummer }} {% if user.captain %}C {% endif %}{{ user.position }}
				{% if team_ansicht == 'Detailiert' %}
					<br>{{ user.strasse }}, {{ user.plz }} {{ user.ort }}<br>
					{{ user.geburtsdatum }}<br>{{ user.telefon }}
				{% endif %}
			</div>
			<div class="col-xs-3">
				{% if user.bild %}
				<img src="{{ user.bild }}" class="rounded">
				{% else %}
				<img src="assets/doppelpass/images/user.png" class="rounded">
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-xs-1"></div>
	{% endfor %}
</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: {{ primar_bg }}">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/me';"><i class="fas fa-arrow-left"></i></button></li>
</ul>
{% endblock %}