{% extends "templates/web.html" %}
{% block title %}Training Hinzufügen{% endblock %}
{% block page_content %}
<ul class="nav justify-content-center bg-dark fixed-top" style="font-size: 2rem; with: 100%;">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/submenu_training_konfiguration';"><i class="far fa-window-close"></i></button></li>
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="add();"><i class="far fa-save"></i></button></li>
</ul>
<div class="container-fluid bg-dark" style="color: white; margin-top: 60px;">
	<div class="form-group">
		<label for="team">Team:</label>
		<select class="form-control" id="team">
			<option>NLA</option>
			<option>Herren II</option>
		</select>
		<label for="datum">Wann:</label>
		<input type="date" class="form-control" id="datum">
		<label for="ort">Ort:</label>
		<input type="text" class="form-control" id="ort">
		<label for="details">Details:</label>
		<textarea class="form-control" rows="5" id="details"></textarea>
	</div>
</div>
{% endblock %}