{% extends "templates/web.html" %}
{% block title %}Training Hinzufügen{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; margin-top: 60px; background-color: #47aff8">
	<center><p style="font-size: 50px;">Anlage</p></center>
	<div class="form-group">
		<label for="team">Team:</label>
		<select class="form-control" id="team">
			<option value="leer"></option>
			<option value="NLA">NLA</option>
			<option value="Herren II">Herren II</option>
		</select>
		<label for="datum">Wann:</label>
		<input type="date" class="form-control" id="datum">
		<label for="ort">Ort:</label>
		<input type="text" class="form-control" id="ort">
		<label for="details">Details:</label>
		<textarea class="form-control" rows="5" id="details"></textarea>
	</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: #47aff8">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/submenu_training_konfiguration';"><i class="fas fa-arrow-left"></i></button></li>
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="add();"><i class="far fa-save"></i></button></li>
</ul>
{% endblock %}