{% extends "templates/web.html" %}
{% block title %}Training Bearbeiten{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top bg-dark" style="color: white;">
	<div class="row">
		<div class="col-xs-12">
			<center><p style="font-size: 50px;">Training Bearbeiten</p></center>
			<div class="form-group">
				<label for="team">Auswahl Training:</label>
				<select class="form-control" id="team">
					{% for training in trainings %}
					<option value="{{ training.name }}">{{ training.datum }} - {{ training.team }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4 bg-info" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/submenu_training_konfiguration';">
			<center>
				<i class="fas fa-arrow-left" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Zurück</p>
			</center>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4 bg-secondary" style="border-radius: 25px; padding: 18px; margin: 3px 0 3px 0; cursor: pointer;" onclick="window.location='/training_add';">
			<center>
				<i class="far fa-edit" style="font-size: 73px;"></i>
				<p style="font-size: 10px; margin-bottom: 0;">Bearbeiten</p>
			</center>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
{% endblock %}