{% extends "templates/web.html" %}
{% block title %}Training Bearbeiten{% endblock %}
{% block page_content %}
<div class="container-fluid fixed-top" style="color: white; background-color: #47aff8">
	<div class="row">
		<div class="col-xs-12">
			<center><p style="font-size: 50px;">Bearbeiten</p></center>
			<div class="form-group">
				<label for="training">Auswahl Training:</label>
				<select class="form-control" id="training" onchange="load_training();">
					<option value="leer">Bitte ein Training auswählen</option>
					{% for training in trainings %}
					<option value="{{ training.name }}">{{ training.datum }} - {{ training.team }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group" id="edit_area">
				<label for="team">Team:</label>
				<select class="form-control" id="team">
					<option value="leer"></option>
					<option value="NLA">NLA</option>
					<option value="Herren II">Herren II</option>
				</select>
				<label for="datum">Wann:</label>
				<input type="date" class="form-control" id="datum">
				<label for="ort">Ort:</label>
				<input type="text" class="form-control" id="ort">
				<label for="details">Details:</label>
				<textarea class="form-control" rows="5" id="details"></textarea>
			</div>
		</div>
	</div>
</div>
<ul class="nav justify-content-center fixed-bottom" style="font-size: 2rem; with: 100%; background-color: #47aff8;">
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="window.location='/submenu_training_konfiguration';"><i class="fas fa-arrow-left"></i></button></li>
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="delete_training();"><i class="far fa-trash-alt"></i></button></li>
	<li><button class="btn" style="color: white; font-size: 2rem;" onclick="update();"><i class="far fa-save"></i></button></li>
</ul>
{% endblock %}